#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 2em;
  justify-content: center;
}

.calculator {
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  padding: 1em 0.5em 1em 0.5em;
}

.calculator-screen {
  width: auto;
  height: auto;
  font-size: 3em;
  text-align: right;
  padding: 0.5em;
  margin: 0.5em;
  margin-top: 0.5em;
  border-radius: 7px;
  border: solid 2px #1a1717;
  background-color: #ece1e1;
  color: #252525;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
  margin: 0.5em;
  button {
    font-size: 1.3em;
    padding: 0.6em;
    margin: 0.15em;
    border: 1px solid #e3e3e3;
  }
}

.calculator-numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  margin-right: 0.4em;
}

.calculator-operators {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1px;
  margin-left: 0.4em;
}

.all-clear {
  background-color: #f05945;
  color: white;
  border: 1px solid #e3e3e3;
}

.equal-sign {
  background-color: #3d84a8;
  color: white;
  border: 1px solid #e3e3e3;
}
